
.id-card-holder
{
    width: 225px;
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
}
.id-card-holder:after
{
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    border-radius: 0 5px 5px 0;
}
.id-card-holder:before
{
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    left: 222px;
    border-radius: 5px 0 0 5px;
}
.id-card
{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
    padding-left: 0px;
}
.id-card img
{
    margin: 0 auto;
}
.idcardheader img
{
    width: 100px;
    margin-top: 15px;
}
.idcardphoto img
{
    width: 80px;
    height: 80px;
    margin-top: 15px;
    border-radius: 100%;
    border: 3px solid green;
}
idcardh2
{
    font-size: 15px;
    margin: 5px 0;
}
idcardh3
{
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
}
.qr-code img
{
    width: 50px;
}
idcardp
{
    font-size: 8px;
    margin: 2px;
}


